
  /** HEADER **/

#header-nav {
    background-color: #0c5957;
    border-radius: 0;
    border: 0;
}

header .container {
    margin-left: 0;
}

.navbar-brand h1 { 
    font-family: 'Lora', serif;
    color: #ffffff;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    text-align: left;
}
  
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}  

#collapsable-nav {
    background-color: #0c5957;
}

#nav-list {
    margin-top: 15px;
}

#nav-list a {
    font-family: 'Lora', serif;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

#nav-list a:hover {
    background: #53a7a5;
}
  
  
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 2px solid #ffffff;
}

.navbar-header button:hover {
    text-decoration: none;
}

  /* END HEADER */
  
h1 {
    font-family: 'Lora', serif;
    font-weight: 700;
}

#main {
    margin: 10px 10px 20px 10px;
}
#main div {
    background-color: #53b3b0;
    border-radius: 5px;
    padding: 5px 30px 5px;

}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}